.div1{
 display: flex;
 justify-content: right;
 margin-right: 80px;
 margin-top: 20px;
}
.a{
    padding: 5px; 
    cursor: pointer ;
    font-size: 15px;
}
 .div1 :hover {
    text-decoration: underline;  
 }

.b{
    padding: 15px;
    color: white;
    font-size: 18px;
    margin-left: 20px;

}
.c{
    padding: 15px;
    font-size: 20px;
    color: white;
}

.img1{
    width: 1920px;
    position: relative;
}
.logo{
    width: 120px;
   
}
.div2{
    background-image: url(//storage.apex4u.com/a4b23aab-0f31-46a8-9aac-b833ab94c5b5.jpeg);
    background-size: cover;
    height: 400px;
    z-index: -5;
    
}

.div3{
    align-items: center;
    display: flex;
    font-size: 25px;
    margin: 25px;
    padding: 10px 15px;
    justify-content: space-between;
    background-size: cover;
    top: 100%;

}

.icon{  
    padding: 10px 20px;
}

.offerhead{
    color: white;
}

.but{
    text-align: center;
    padding: 20px;
    
}
.but1 {
    padding: 8px ;
    border-radius: 5px;
    cursor: pointer;
}

.left{
    display: flex;
}

.offer{
   padding-top:90px;
    text-align: center;
}

.video1{
    position: absolute;
    top: -40px;
    z-index: -1;
    margin-left: 100px;
    
 
}

.sec2{
    background-color: rgba(0, 0, 0, 0.717);
    position: relative;
    display: flex;
    z-index: 1;
    height: 550px;
}


.but3 {
    padding: 10px;
    width: 160px;
    border-radius: 5px; 
}

.imgdiv{
    padding-top: 20px;
    width: 800px;
    height: 200px;
}

.img2{
    height: 380px;
    z-index: 1;
    padding-left: 200px;
    
}
.part1{
    color: aliceblue;
   padding-top: 50px;
   padding-left: 200px;
}

.sec3{
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 150px;
    
}
.img-div3{
    margin: 3px;
    position: relative;
    display: block;
}
.sp11{ 
    left: 0;
    margin-left: 5px;
}
.big{
    margin-top: 150px;
    position: relative;
}
.nino{
    position: absolute;
    bottom: 800px;
    left: 1500px;
    color: white;
}
.beauty{
    position: absolute;
    bottom: 200px;
    left: 1400px ;
    color: white;
}




.titl{
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    
}
.hh{
    background-color: rgb(255, 255, 255);
    padding: 12px;
}
.bor{
    height: 500px;
    width: px ;
    position: relative;
    
}
.titl::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 85%;
    top: 15px;
    right: 7%;
    background-color: transparent;
    border: 3px solid rgb(0, 0, 0);
    z-index: -1;
    border-bottom: 0px;
}
.bor::after{
    content: '';
    position: absolute;
    height: 30px;
    width: 85%;
    bottom: 15px;
    right: 7%;
    background-color: transparent;
    border: 3px solid rgb(0, 0, 0);
    z-index: -1;
    border-top: 0px;
}

.pp{
    height: 310px;
   
    display: flex;  
    
   
    
}
.imgdivk{
    height: 300px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    position: relative; 
    
}

.bagimg{
    height: 100% ;
    width: 100% ;
}

.sp1{
    position: absolute;
    bottom: 10px;
    left: 0;
    margin-left: 5px;
}

.tp{
    margin-top: 160px ;
    display: flex;
   justify-content: center;
    
   
}

.tpic{
     height: 600px;
     padding: 5px ;  
    
}



 @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
.btn {
  background: transparent;
  border: 1px solid #fff;
  display: inline-block;
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
}
.text-1 {
  font-size: 12px;
  color: #000;
}
.wrap {
  max-width: 88%;
  min-width: 65%;
  margin: auto;
}

/*==================== 10 Section */
.s-10 {
  color: #000;
  border: 1px solid #bbb;
  border-left: 0px;
  border-right: 0px;
  margin-top:40px;
  margin-bottom: 50px;
}
.my-wrap-s10 {
  width: 82%;
  margin: auto;
  display: flex;
}
.m-s10items {
  width: 25%;
  height: 229px;
  text-align: center;
  border-left: 1px solid #bbb;
  padding: 20px 0px;
}
.m-s10items:first-child {
  border: 0px;
}
.m-s10items span {
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  color: #555;
  margin-bottom: 7px;
  margin-top: 25px;
}
.m-s10items p {
  font-size: 12px;
  color: #555;
  line-height: 18px;
}
.m-s10items a {
  font-size: 12px;
  color: #000;
  display: inline-block;
  margin-top: 10px;
}
.s10-logo-social {
  margin-top: 20px;
}
.s10-logo-social img {
  margin: 0px 5px;
  cursor: pointer;
}

/*====================  */
section.s-11 {
  color: #000;
  padding-bottom: 35px;
}
.wrap-s11 {
  width: 82%;
  margin: auto;
  display: flex;
  text-align: center;
}
.s-11-items {
  width: 25%;
}
.s-11-items:first-child {
  text-align: left;
}
.s-11-items span {
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 10px;
  color: #555;
}
.s-11-items p {
  font-size: 12px;
  color: #555;
  margin-bottom: 15px;
}
.s-11-items ul li a {
  color: #555;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  margin: 5px 0px;
}
.s-11-items ul li a:hover {
  text-decoration: underline;
}
.s-11-items ul li:first-child {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}
.last-input-b input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #bbb;
  font-size: 15px;
  padding-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 96%;
  border-right: 0px;
}
.last-input-b input:focus {
  outline: none;
}
.last-input-b {
  position: relative;
  width: 90%;
}
.last-input-b i {
  display: inline-block;
  position: absolute;
  right: -8px;
  top: 0;
  background: #000;
  color: #fff;
  padding: 10.5px 18px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #000;
  transition: 0.3s;
}
.last-input-b i:hover {
  background: transparent;
  color: #000;
}
/* ==================== */
footer {
  background: #000;
  padding: 12px 0px;
  text-align: center;
}
footer p {
  font-size: 11.5px;
  color: #fff;
}
/* ==================== */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 5px;
}

/* ===== Responsive Design */
.respon-img img {
  width: 100px;
}
.respons-bar-icon i {
  display: inline-block;
  font-size: 28px;
}
.wrap.resonse-menu.menu-itm {
  align-items: center;
  display: none;
}
.response-icon i {
  display: inline-block;
  font-size: 20px;
  margin-left: 18px;
}
/* ============== */

/* Responsive ========================= */
@media screen and (max-width: 1023px) {
  header {
    display: none;
  }
  .wrap.menu-itm ul {
    display: none;
  }
  .wrap.resonse-menu.menu-itm {
    display: flex;
  }
  .wrap.resonse-menu.menu-itm:hover i {
    color: #000;
  }
}

@media screen and (max-width:900px){ 
    .div1 {
        background-color: black;
        color: white;
    }
 }